__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
logs
*.log
.pytest_cache
.coverage
htmlcov
.mypy_cache
.tox
venv
.venv
readme.md
todo.txt
ci
alembic
.ruff_cache/*
